<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="dotObjects">
      <section name="core" type="dotObjects.Core.Configuration.CoreSection, dotObjects.Core"/>
      <section name="rendering" type="dotObjects.Web.Rendering.Configuration.RenderingSection, dotObjects.Web.Rendering"/>
      <section name="security" type="dotObjects.Security.Configuration.SecuritySection, dotObjects.Security"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="dotObjects.Northwind" connectionString="Data Source=CABRA\CABRA;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Forms"/>
    <httpHandlers>
      <remove verb="*" path="*.aspx"/>
      <add path="*.aspx" verb="*" validate="false" type="dotObjects.Web.Handlers.HttpHandlerFactory, dotObjects.Web"/>
      <add path="*.json" verb="GET,POST" validate="false" type="dotObjects.Web.Handlers.HttpHandlerFactory, dotObjects.Web"/>
      <add path="*.image" verb="GET,POST" validate="false" type="dotObjects.Web.Handlers.HttpHandlerFactory, dotObjects.Web"/>
      <add verb="*" path="dotObjectsWebResource.axd" validate="false" type="dotObjects.Web.Rendering.Handlers.ResourceHandler, dotObjects.Web.Rendering"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <dotObjects>
    <core applicationName="Northwind Study">
      <contexts default="SQL">
        <context name="SQL" type="dotObjects.Core.Persistence.LinqToSQL.LinqToSqlContext, dotObjects.Core">
          <settings>
            <add name="ConnectionStringName" value="dotObjects.Northwind"/>
          </settings>
        </context>
        <context name="Session" type="dotObjects.Web.Persistence.SessionContext, dotObjects.Web">
        </context>
      </contexts>
      <modelAssemblies>
        <assembly name="dotObjects.Northwind" rootNamespace="dotObjects.Northwind" localizationResource="dotObjects.Northwind.Localization" >
          <excludedTypes>
            <excludedType typeName="dotObjects.Northwind.OrderItem" />
          </excludedTypes>
        </assembly>
        <assembly name="dotObjects.Security.Web" rootNamespace="dotObjects.Security.Web.Providers" localizationResource="dotObjects.Northwind.Localization" />
      </modelAssemblies>
    </core>
    <rendering path="Templates\CoolWater" layoutFileName="Layout.htm" type="dotObjects.Web.Rendering.NVelocity.NVelocityRenderer, dotObjects.Web.Rendering">
      <templates>
        <template filter="r:Message" fileName="MessageView.htm">
          <domains>
            <add typeName="System.Object" fileName="Label.htm"/>
          </domains>
        </template>
        <template filter="r:Input" fileName="Input.htm">
          <domains>
            <add typeName="System.Object" fileName="TextBox.htm"/>
            <add typeName="System.Boolean" fileName="Checkbox.htm"/>
            <add typeName="System.Drawing.Image" fileName="TextBoxFile.htm"/>
            <add typeName="System.IO.Stream" fileName="TextBoxFile.htm"/>
            <add attributes="description,Description,content,Content" fileName="TextArea.htm"/>
            <add attributes="Password,password,passwordConfirmation,oldPassword,newPassword,newPasswordConfirmation" fileName="TextBoxPassword.htm"/>
            <add typeName="System.Collections.Generic.List`1[[dotObjects.Northwind.OrderItem, dotObjects.Northwind, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" fileName="OrderItems.htm" />
            <add typeName="dotObjects.Web.Rendering.ModelList" fileName="ExistingItems.htm"/>
            <add typeName="dotObjects.Web.Rendering.Model" fileName="DropDownList.htm"/>
          </domains>
        </template>
        <template filter="r:View" fileName="View.htm">
          <domains>
            <add typeName="System.Object" fileName="Label.htm"/>
            <add typeName="System.DateTime" fileName="LabelDate.htm"/>
            <add typeName="System.Boolean" fileName="CheckboxReadOnly.htm"/>
            <add typeName="System.Drawing.Image" fileName="Image.htm"/>
            <add typeName="dotObjects.Web.Rendering.ModelList" fileName="ModelList.htm"/>
            <add attributes="Password" fileName="LabelPassword.htm"/>
          </domains>
        </template>
        <template filter="r:Search" fileName="Search.htm">
          <domains>
            <add typeName="System.Object" fileName="Label.htm"/>
            <add typeName="System.DateTime" fileName="LabelDate.htm"/>
            <add typeName="System.Boolean" fileName="CheckboxReadOnly.htm"/>
            <add typeName="System.Drawing.Image" fileName="Image.htm"/>
            <add typeName="dotObjects.Web.Rendering.ModelList" fileName="ModelListCount.htm"/>
            <add attributes="Password" fileName="LabelPassword.htm"/>
          </domains>
        </template>
      </templates>
      <customHelpers>
        <add name="security" typeName="dotObjects.Security.Web.Helpers.SecurityHelper, dotObjects.Security.Web" />
      </customHelpers>
    </rendering>
    <security>
      <provider type="dotObjects.Security.Web.Providers.WebSecurityProvider, dotObjects.Security.Web">
        <settings>
          <add name="identityType" value="dotObjects.Northwind.Employee"/>
          <add name="usernameAttribute" value="Username"/>
          <add name="passwordAttribute" value="Password"/>
        </settings>
      </provider>
      <authorization>
        <uri pattern="Category">
          <deny roles="?" />
        </uri>
        <uri pattern="Supplier">
          <deny roles="?" />
        </uri>
      </authorization>
    </security>
  </dotObjects>
</configuration>
